* {
    margin: 0;
    padding: 0;
}
body {
    margin:0;
    padding:0;
    background-color: #f2e8cf;
}
.header {
    background-color:  #a8dadc;
    /* text-decoration: underline; */
    font-family: Arial, Helvetica, sans-serif;
    color: #001219;
    text-align: center;
    min-height: 10vh;
    line-height: 10vh;
    font-size: 3vh;
}
.content {
    height: 70vh;
    width: 100%;
    /* background-color: red; */
    margin-left: 2vh;
    margin-right: 2vh;
    margin-right: 2vh;
    border-bottom: 2px solid maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 25%;
    height: 60vh;
    background-color:#a3b18a;
    margin-left: 2vh;
   border-radius: 15px;
    display: flex;
    text-align: center;
    /* margin: 1px 1px 1px 1px; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-right: 2vh; */
}
.right h3 {
    text-align: center;
    font-size: 6vh;
    /* text-decoration: underline; */
color: #bc4749;
}
.left h3 {
    /* text-align: center; */
  align-items: flex-start;
    font-size: 4rem;
    /* text-decoration: underline; */
color: #bc4749;
}
.right{
    width: 70%;
    height: 60vh;
    background-color:#a3b18a;
    border-radius: 10px;
    /* margin-left: 2vh; */
    margin-right: 2vh;
}
.super {
    width: 100%;
    height: 90vh;
    /* background-color:black; */
    /* margin-left: 2vh; */
    border-radius: 15px;
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* justify-content: center; */
}
.img{
    height: 30vh;
    width: 30vh;
    position: relative;
background-image: url(1716187007540.jpg);
 background-size: cover;
    border-radius: 50%;
    margin-left: 9vh;
    margin-top: 2vh;
    /* margin-right: 25%; */
    padding-top: -10%;
    object-fit: cover;
}
.des h1{
    /* margin-top: 2vh; */
    font-size: 2vw;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 700;
}
.des h4{
    /* line-break: loose; */
    margin-top: 2vw;
    text-wrap: nowrap;
    text-align: center;
    font-size: 3vh;
    font-weight: 900;
}
.des{
    font-size: 2vw;
    height: 18vh;
    position: relative;
    width: 100%;
    padding-top: -10%;
display: flex;
align-items: center;
/* line-height: 5vh; */
/* align-items: flex-start; */
justify-content: center;
text-align: center;
/* margin-top: 4vh; */

/* flex-direction: column-reverse; */
/* align-items: baseline; */
}
.des ul {
    text-align: center;
    color: #284b63;
}
footer{
    margin-top: 15px;
}
.foot-panel4 {
    color: #dddddd;
    height: 15vh;
    line-height: 15vh;
    background-color: #131a22;
    text-align: center;
    font-size: 0.7rem;
}
.copyright {
    padding-top: 15px;
    font-size: 5vh;
    font-weight: 700;
}
.pages {
    padding-top: 25px;
}
.es {
    width: 100%;
    height: 90vh;
    background-image: url(1716187007540.jpg);
    background-size: cover;
    margin-top: 3vh;
}
.right p {
    font-size: 5vh;
    padding-left: 15px;
    color: #14213d;
    /* margin-top: 25px; */
}
.links {
    width: 100%;
    height: 15vh;
    background-color: #bc4749;
display: inline-flex;
line-height: 15vh;
padding: 4px 4px 4px 4px;
/* padding-top: 5vh; */
gap: 15vh;
text-align: center;
justify-content: space-evenly;
}
.links a {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    line-height: 5vh;
}
.links a i {
    margin-right: 3px;
    padding-right: 3vh;
}
